
<h2>Reactive Forms</h2>
<br>
<form [formGroup]="heroForm">
  
    <div [ngClass]="{'hide': !showSuccessMessage}" class="msg-wrap" >Hero Saved Successfully</div>
  
    Name: <input formControlName="name" required>
    <br>
  
    <span class="error-text" *ngIf="!heroForm.controls.name.valid && heroForm.controls.name.touched ">Name is required</span>
  
    <br><br>
  
    Gender:
    <input type="radio" formControlName="gender" value="male" > Male
    <input type="radio" formControlName="gender" value="female"> Female
    <br><br>
  
    Can Fly:
    <input type="checkbox" formControlName="superPowers">
    <br><br>
  
    Location:
    <select  formControlName="location">
        <option value="">Select Location</option>
      <option value="Earth">Earth</option>
      <option value="Asgard">Asgard</option>
    </select>

    <span class="error-text" *ngIf="!heroForm.controls.location.valid  ">Location is required</span>
    <br><br>
  
    photo:
    <input type="file" name="file" id="file" (change)="fileChanged()">
    <br><br>
  
    <button type="submit" (click)="saveHero()" [disabled]="!heroForm.valid">Submit</button>
  
  </form>
  
  Hero: {{ heroForm.value| json}}